@page "/assignments"

@inject NavigationManager UriHelper

@using Objects

<h3>Assignments</h3>
<br/>

@foreach (Assignment A in Assignment.AssignmentList)
{
    @if (A.taken || DateTime.Compare(DateTime.Parse(time.ToString("g")), DateTime.Parse(A.dueDate)) > 0)
    {
        <div class="unavailable" style="outline-color: blue">
            @Path.GetFileNameWithoutExtension(A.assignmentName)
            <p style="display:inline; float: right">  Grade: @A.score%  Due: @A.dueDate</p>
        </div>
    }
    else
    {
        <div class="available" @onclick="() => TakeAssignment(A.assignmentName)">
            @Path.GetFileNameWithoutExtension(A.assignmentName)
            <p style="display:inline; float: right">  Grade: not taken  Due: @A.dueDate</p>
        </div>
    }
}

@code {
    private string FolderPath = Directory.GetCurrentDirectory() + @"\AssignmentFolder\";
    private string[] Files;
    private DateTime time = DateTime.Now;


    public void TakeAssignment(string fileName)
    {
        UriHelper.NavigateTo($"takeassignment/{fileName}");
    }
}
