@page "/assignments"

@inject NavigationManager UriHelper

@using Objects

<h3>Assignments</h3>
<br/>

@if (User.user.Type == "Teacher")
{
    <button @onclick="create" style="float: right">Create Assignment</button>
}

@foreach (Assignment A in Assignment.AssignmentList)
{
    @if (A.taken || DateTime.Compare(DateTime.Parse(time.ToString("g")), DateTime.Parse(A.dueDate)) > 0)
    {
        <div class="unavailable" style="outline-color: blue">
            @Path.GetFileNameWithoutExtension(A.assignmentName)
            <p style="display:inline; float: right">  <b> Grade: </b> @A.score%  <b>Due: </b>  @A.dueDate</p>
        </div>
    }
    else
    {
        <div class="available" @onclick="() => TakeAssignment(A.assignmentName)">
            @Path.GetFileNameWithoutExtension(A.assignmentName)
            <p style="display:inline; float: right">  <b> Grade: </b> not taken  <b>Due: </b> @A.dueDate</p>
        </div>
    }
}

@code {
    private string FolderPath = Directory.GetCurrentDirectory() + @"\AssignmentFolder\";
    private string[] Files;
    private DateTime time = DateTime.Now;

    protected override void OnInitialized()
    {
        Assignment.getAssignments();
    }

    public void TakeAssignment(string fileName)
    {
        UriHelper.NavigateTo($"takeassignment/{fileName}");
    }

    public void create()
    {
        UriHelper.NavigateTo($"createassignment");
    }
}
