@page "/makeskilltreeV2"

@using Objects
@using System.Text;
@using System.Threading;
@using Syncfusion.Blazor.Diagram

<Popup @ref="popupRef" />

<div class="btn-group">
    <button @onclick="AddNode">Add Node</button>
    <button @onclick="AddConnector">Add Connector</button>
    <button @onclick="Clear">Clear</button>
    <button @onclick="Undo">Undo</button>
    <button @onclick="Redo">Redo</button>
    <button @onclick="Save">Save Skilltree</button>
    <input type="text" @bind-value="Name" placeholder="File Name" />
</div>


<SfDiagramComponent @ref="diagram" Nodes="@nodes"
                                   Height="700px"
                                   Click="@OnClick"
                                   Connectors="@connectors" 
                                   CollectionChanged="@OnCollectionChanged" />

@if (SelectedBranch != null)
{
    <div align="left">
        <EditForm Model="@SelectedBranch">
            <p> User Input for @SelectedBranch.name : </p>
            <label for="Edtype"> Node Education Type</label>
            <InputText style="display:inline" id="Edtype" @bind-Value="SelectedBranch.EducationType" placeholder="@SelectedBranch.EducationType" />
            <label for="Entype" style="margin-left: 20px;"> Node Entry Score</label>
            <InputText style="display:inline" id="Entype" @bind-Value="SelectedBranch.entryScore" placeholder="@SelectedBranch.entryScore"/>
        </EditForm>

        <form>
            @if(SelectedBranch.startingNode)
            {
                <input type="checkbox"  checked="checked" id="Startnode" @onclick="Start">
            }
            else
            {
                <input type="checkbox" id="Startnode" @onclick="Start">
            }
            <label for="Startnode"> Is start node</label><br>
        </form>

        <ul>
            @if (SelectedBranch.NodeConnections != null)
            {
                <p style="display:inline">Node Connections: </p>
                @if (SelectedBranch.NodeConnections.Count == 0)
                {
                    <p style="display:inline"> None </p>
                }
                else
                {
                    @foreach (Branch node in SelectedBranch.NodeConnections)
                    {
                        <p style="display:inline"> @node.name </p>
                        <p style="display:inline"> </p>
                    }
                }
            }

        </ul>
        <input type="button" value="Done" @onclick="@DoneEdit" />
    </div>
}

@if (SelectedConnector != null)
{
    <p> User Input for @SelectedConnector.name : </p>
    <form>
        @if (SelectedConnector.Visible)
        {
            <input type="checkbox" id="Startnode" @onclick="Visible">
        }
        else
        {
            <input type="checkbox" checked="checked" id="Startnode" @onclick="Visible">
        }
        <label for="Startnode"> Is connector not visible?</label><br>

        <input type="button" value="Done" @onclick="@DoneEdit" />
    </form>
}

@code
{
    //Reference to diagram.
    SfDiagramComponent diagram;

    //Defines diagram's nodes collection.
    DiagramObjectCollection<Node> nodes;

    DiagramObjectCollection<Connector> connectors;

    int NodeIndex = 1;
    int ConnectorIndex = 1;
    string Name = "";
    Branch SelectedBranch;
    Connectors SelectedConnector;
    List<Branch> Branchs = new List<Branch>();
    List<Connectors> connectorsList = new List<Connectors>();


    protected override void OnInitialized()
    {
        nodes = new DiagramObjectCollection<Node>();
        connectors = new DiagramObjectCollection<Connector>();
    }

    private void Undo()
    {
        //Revert the changes.
        diagram.Undo();
    }

    private void Redo()
    {
        //Restore the changes.
        diagram.Redo();
    }

    //To export the diagram as base64 string.
    private void Save()
    {
        string FileDesPath;
        int FileIndex = 1;

        bool hasStart = false;
        foreach(Branch b in Branchs)
        {
            if(b.startingNode)
            {
                hasStart = true;
            }
        }

        if(!hasStart)
        {
            Alert("You need to set a node as the starting node");
            return;
        }

        if(Name == "")
        {
            while (true)
            {
                if (File.Exists(Directory.GetCurrentDirectory() + @"\SavedSkillTrees\" + "SkillTree" + FileIndex ))
                {
                    // update file name and destination path if current file name exists
                    FileIndex++;
                    FileDesPath = Directory.GetCurrentDirectory() + @"\SavedSkillTrees\" + "SkillTree" + FileIndex;
                }
                else
                {
                    FileDesPath = Directory.GetCurrentDirectory() + @"\SavedSkillTrees\" + "SkillTree" + FileIndex;
                    break;
                }
            }
        }
        else
        {
            FileDesPath = Directory.GetCurrentDirectory() + @"\SavedSkillTrees\" + Name;
        }

        FileStream FileWrite = new FileStream(FileDesPath, FileMode.Create, FileAccess.Write, FileShare.None);

        // node info section
        string TreeInfo = "NODE|\n";

        foreach(Node n in nodes)
        {
            string label = "";
            foreach (Annotation annotation in n.Annotations as IEnumerable<object>)
            {
                //You can do you own stuff here. For example getting label of the Annotation.
                label = annotation.Content.ToString();
            }

            TreeInfo += n.ID + ";" + 
                        n.OffsetX + ";" + 
                        n.OffsetY + ";" +
                        label + ";";

            foreach(Branch b in Branchs)
            {
                if(b.ID == n.ID)
                {
                    TreeInfo += b.EducationType + ";" +
                                b.entryScore + ";" +
                                b.startingNode;
                }
            }

            TreeInfo += "\n";
        }

        // node info section
        TreeInfo += "CONNECTOR|\n";

        foreach (Connector c in connectors)
        {

            TreeInfo += c.ID + ";" +
                        c.SourcePoint.X + ";" +
                        c.SourcePoint.Y + ";" +
                        c.SourceID + ";" +
                        c.TargetPoint.X + ";" +
                        c.TargetPoint.Y + ";" +
                        c.TargetID + ";";

            foreach (Connectors connect in connectorsList)
            {
                if (connect.ID == c.ID)
                {
                    TreeInfo += connect.Visible + "\n";
                }
            }
        }

        // Store the text in a byte array with. UTF8 encoding (8-bit Unicode. Transformation Format)
        byte[] writeArr = Encoding.UTF8.GetBytes(TreeInfo);

        // Using the Write method write the encoded byte array to the textfile
        FileWrite.Write(writeArr, 0, TreeInfo.Length);

        // Closee the FileStream object
        FileWrite.Close();

        Alert("Saved");

    }

    private void OnCollectionChanged(CollectionChangedEventArgs args)
    {
        if (args.Action.ToString().Equals("Remove") && Branchs.Any())
        {
            foreach(Branch b in Branchs)
            {
                foreach(Node n in nodes)
                {
                    if(n.ID == b.ID)
                    {
                        Branchs.Remove(b);
                        return;
                    }
                }
            }
        }
    }

    private void OnClick(ClickEventArgs args)
    {

        foreach (Node n in nodes)
        {
            if (args.ActualObject == n)
            {
                foreach(Branch b in Branchs)
                {
                    if(n.ID == b.ID)
                    {
                        string label = "";
                        foreach (Annotation annotation in n.Annotations as IEnumerable<object>)
                        {
                            //You can do you own stuff here. For example getting label of the Annotation.
                            label = annotation.Content.ToString();
                        }

                        foreach(Connector c in connectors)
                        {
                            if(c.SourceID == n.ID)
                            {
                                foreach (Branch branch in Branchs)
                                {
                                    if (c.TargetID == branch.ID && !b.NodeConnections.Contains(branch))
                                    {
                                        b.NodeConnections.Add(branch);
                                    }
                                }
                            }
                        }

                        b.name = label;
                        SelectedBranch = b;
                        return;
                    }
                }
            }
        }

        SelectedBranch = null;

        bool found = false;
        if(connectorsList.Count == 0)
        {
            foreach (Connector c in connectors)
            {
                Connectors connect = new Connectors(c.ID);
                connect.ID = c.ID;
                connectorsList.Add(connect);
            }
        }
        else
        {
            foreach (Connector c in connectors)
            {
                foreach(Connectors connection in connectorsList)
                {
                    if(connection.ID == c.ID)
                    {
                        found = true;
                        break;
                    }
                }

                if(found)
                {
                    found = false;
                    continue;
                }
                Connectors connect = new Connectors(c.ID);
                connect.ID = c.ID;
                connectorsList.Add(connect);
            }
        }

        foreach (Connector c in connectors)
        {
            if (args.ActualObject == c)
            {
                foreach (Connectors connect in connectorsList)
                {
                    if(c.ID == connect.ID)
                    {
                        SelectedConnector = connect;
                        return;
                    }
                }
            }
        }
    }

    private void AddConnector()
    {
        Connector Connector = new Connector()
            // Enable the segment editing.
            {
                ID = "Connector" + ConnectorIndex,
                Constraints = ConnectorConstraints.Default | ConnectorConstraints.DragSegmentThumb,
                Type = ConnectorSegmentType.Orthogonal,
                SourcePoint = new DiagramPoint { X = 400, Y = 100 },
                TargetPoint = new DiagramPoint { X = 500, Y = 200 }
            };

        connectors.Add(Connector);

        ConnectorIndex++;
    }

    private void AddNode()
    {
        Node node = new Node()
        {
            ID = "node" + NodeIndex,

            // Position of the node.
            OffsetX = 250,
            OffsetY = 250,
            // Size of the node.
            Width = 100,
            Height = 100,

            Annotations = new DiagramObjectCollection<ShapeAnnotation>()
            {
                new ShapeAnnotation()
                {
                    Content = "node " + NodeIndex,

                    Style = new TextStyle()
                    {
                        Color = "white",
                    }
                }
            },

            Style = new ShapeStyle() { Fill = "#6495ED", StrokeColor = "white" },
        };

        string label = "";
        foreach (Annotation annotation in node.Annotations as IEnumerable<object>)
        {
            label = annotation.Content.ToString();
        }

        Branch branch = new Branch(label);

        branch.ID = node.ID;

        SelectedBranch = branch;

        Branchs.Add(branch);

        NodeIndex++;

        PointPort port1 = new PointPort()
        {
            ID = "port1",
            Offset = new DiagramPoint() { X = 0, Y = 0.5 },
            //Visibility = PortVisibility.Visible,
            //Set the style for the port.
            Style = new ShapeStyle()
            {
                    Fill = "green",
                StrokeColor = "black"
            },
            Width = 12,
            Height = 12,
            // Sets the shape of the port as Square.
            Shape = PortShapes.Square,
            // Enable draw operation for Port
            Constraints = PortConstraints.Default | PortConstraints.Draw,

            Visibility = PortVisibility.Visible,
        };
        PointPort port2 = new PointPort()
        {
            ID = "port2",
            Offset = new DiagramPoint() { X = 1, Y = 0.5 },
            //Visibility = PortVisibility.Visible,
            //Set the style for the port.
            Style = new ShapeStyle()
            {
                    Fill = "green",
                StrokeColor = "black"
            },
            Width = 12,
            Height = 12,
            // Sets the shape of the port as Square.
            Shape = PortShapes.Square,
            // Enable draw operation for Port
            Constraints = PortConstraints.Default | PortConstraints.Draw,

            Visibility = PortVisibility.Visible,
        };
        PointPort port3 = new PointPort()
        {
            ID = "port3",
            Offset = new DiagramPoint() { X = 0.5, Y = 0 },
            //Visibility = PortVisibility.Visible,
            //Set the style for the port.
            Style = new ShapeStyle()
            {
                Fill = "green",
                StrokeColor = "black"
            },
            Width = 12,
            Height = 12,
            // Sets the shape of the port as Square.
            Shape = PortShapes.Square,
            // Enable draw operation for Port
            Constraints = PortConstraints.Default | PortConstraints.Draw,

            Visibility = PortVisibility.Visible,
        };
        PointPort port4 = new PointPort()
        {
            ID = "port4",
            Offset = new DiagramPoint() { X = 0.5, Y = 1 },
            //Visibility = PortVisibility.Visible,
            //Set the style for the port.
            Style = new ShapeStyle()
            {
                    Fill = "green",
                StrokeColor = "black"
            },
            Width = 12,
            Height = 12,
            // Sets the shape of the port as Square.
            Shape = PortShapes.Square,
            // Enable draw operation for Port
            Constraints = PortConstraints.Default | PortConstraints.Draw,

            Visibility = PortVisibility.Visible,
        };

        // Add multiple ports in the port collection.
        node.Ports.Add(port1);
        node.Ports.Add(port2);
        node.Ports.Add(port3);
        node.Ports.Add(port4);

        nodes.Add(node);
    }

    private void DoneEdit()
    {
        SelectedBranch = null;
        SelectedConnector = null;
    }

    private void Start()
    {
        foreach(Node n in nodes)
        {
            if(n.ID == SelectedBranch.ID)
            {
                foreach(Branch b in Branchs)
                {
                    if (SelectedBranch.ID == b.ID)
                    {
                        if (b.startingNode)
                        {
                            b.startingNode = false;
                            n.Style.Fill = "#6495ED";
                        }
                        else
                        {
                            foreach (Branch branch in Branchs)
                            {
                                branch.startingNode = false;
                            }
                            foreach (Node node in nodes)
                            {
                                node.Style.Fill = "#6495ED";
                            }
                            b.startingNode = true;
                            n.Style.Fill = "red";
                        }
                    }
                }
            }
        }
    }

    private void Visible()
    {
        foreach (Connectors c in connectorsList)
        {
            if (c.ID == SelectedConnector.ID)
            {
                c.Visible = !c.Visible;

                foreach (Connector connect in connectors)
                {
                    if(c.ID == connect.ID)
                    {
                        if(c.Visible)
                        {
                            connect.Style.StrokeColor = "black";
                        }
                        else
                        {
                            connect.Style.StrokeColor = "yellow";
                        }
                    }
                }
            }
        }
    }

    private void Clear()
    {
        Branchs.Clear();
        diagram.Clear();
        connectorsList.Clear();
        NodeIndex = 1;
        ConnectorIndex = 1;
    }

    private Popup popupRef;
    public async Task Alert(string message)
    {
        popupRef.Show(message);
    }
}

<style>
    .btn-group button {
        background-color: #1b6ec2;
        border: 1px solid black;
        color: white;
        padding: 10px 24px; 
        cursor: pointer; 
        float: left; 
    }

    /* Clear floats (clearfix hack) */
    .btn-group:after {
        content: "";
        clear: both;
        display: table;
    }

    .btn-group button:not(:last-child) {
        border-right: none; 
    }
    .btn-group button:hover {
        opacity: .7;
    }
</style>