@page "/persona"

@using Objects

<h3>Welcome @user.UserName: level #@user.Level</h3>

<br/>

<img src="PersonaImages/ExampleImage.png" alt="Example Persona" class="avater">

<div class="container">
    @user.General
</div>

<div class="container">
    @user.Badges
</div>

<div class="container">
    @user.Items
</div>

<div class="container">
    @user.Stuff
</div>


@code {
    User user;

    protected override async Task OnInitializedAsync()
    {
        user = new User();

        user.UserName = "testUser";

        user.General = "General";
        user.Badges = "Badges";
        user.Items = "Items";
        user.Stuff = "Stuff";

        user.Level = "1";
    }
}
