@page "/takeassignment/{name}"

@using Objects

@inject NavigationManager UriHelper
@inject IJSRuntime JS;

@if (!Review)
{
    <h3>Take assignment</h3>

    @foreach (AssignmentQuestion Q in Questions)
    {
        <p> @Q.question </p>
        <from>
            @foreach (string Op in Q.options)
            {
                <input type="@Q.type" id=@Op  name="@Q.type" value="@Op"/>
                <label> @Op</label> 
                <br/>
            }
        </from>
    }

<br />
<button class="btn btn-primary" @onclick="Submit">Submit</button>
}
else{
    <h3>Assignment taken</h3>

    @foreach(AssignmentQuestion Q in Questions)
    {
        if(Q.inputedAnswers != null)
        {
            <p>@Q.question</p>
            foreach(string ans in Q.inputedAnswers)
            {
                <p>@ans</p>
            }
            <p> Answer: @Q.correct</p>
        }
    }
    <button class="btn btn-primary" @onclick="Finished">Finished</button>
}


@code {

    [Parameter]
    public string name { get; set; }

    private string FolderPath =  Directory.GetCurrentDirectory() + @"\AssignmentFolder\";
    private List<AssignmentQuestion> Questions;
    AssignmentQuestion question;
    private bool QuestionSec, TypeSec, OptionSec, AnswerSec;
    private bool Review = false;

    private string inputAnswer;

    protected override async Task OnInitializedAsync()
    {
        Questions = new List<AssignmentQuestion>();
        QuestionSec = false;
        TypeSec = false;
        OptionSec = false;
        AnswerSec = false;

        // Read a text file line by line.
        string[] lines = File.ReadAllLines(FolderPath + name);

        foreach (string line in lines)
        {
            if (line.Trim() == "questions|")
            {
                QuestionSec = true;
                TypeSec = false;
                OptionSec = false;
                AnswerSec = false;
                continue;
            }
            else if (line.Trim() == "type|")
            {
                QuestionSec = false;
                TypeSec = true;
                OptionSec = false;
                AnswerSec = false;
                continue;
            }
            else if (line.Trim() == "options|")
            {
                QuestionSec = false;
                TypeSec = false;
                OptionSec = true;
                AnswerSec = false;
                continue;
            }
            else if (line.Trim() == "answer|")
            {
                QuestionSec = false;
                TypeSec = false;
                OptionSec = false;
                AnswerSec = true;
                continue;
            }
            else if (line.Trim() == "end|")
            {
                QuestionSec = false;
                TypeSec = false;
                OptionSec = false;
                AnswerSec = false;
                Questions.Add(question);
                continue;
            }

            if (QuestionSec)
            {
                question = new AssignmentQuestion(line);
            }
            else if (TypeSec)
            {
                question.type = line;
            }
            else if (OptionSec)
            {
                question.options = line.Split(';');
            }
            else if (AnswerSec)
            {
                question.answers = line.Split(';');
            }
        }
    }

    public async void Submit()
    {
        string ans = "";
        foreach (AssignmentQuestion Q in Questions)
        {
            if (Q.type == "radio")
            {
                ans = await JS.InvokeAsync<string>("RadioButtons", Q.type);
                Q.inputedAnswers = ans.Split(';');
                Q.correctInput();
            }
            else if (Q.type == "checkbox")
            {
                ans = await JS.InvokeAsync<string>("CheckBoxs", Q.type);
                Q.inputedAnswers = ans.Split(';');
                Q.correctInput();
            }
            else if (Q.type == "text")
            {
                //Doesn't work yet
                //ans = await JS.InvokeAsync<string>("TextFeild", Q.type);
                //Q.inputedAnswers = ans.Split(';');
                //Q.correctInput();
            }
        }

        Review = true;
    }

    public void Finished()
    {
        UriHelper.NavigateTo($"assignments");
    }

}
