@page "/takeassignment/{name}"

@using Objects

@inject NavigationManager UriHelper
@inject IJSRuntime JS;

@if (!Review)
{
    <h3>Take assignment</h3>

    @foreach (AssignmentQuestion Q in Questions)
    {
        <p> @Q.question </p>
        <from>
            @foreach (string Op in Q.options)
            {
                <input type="@Q.type" id=@Op  name="@Q.type" value="@Op"/>
                <label> @Op</label> 
                <br/>
            }
        </from>
    }

<br />
<button class="btn btn-primary" @onclick="Submit">Submit</button>

}
else{
    <h3>Assignment taken</h3>

    @foreach(AssignmentQuestion Q in Questions)
    {
        if(Q.inputedAnswers != null)
        {
            <p>@Q.question</p>
            foreach(string ans in Q.inputedAnswers)
            {
                <p>@ans</p>
            }
            <p> Answer: @Q.correct</p>
        }
    }
    <button class="btn btn-primary" @onclick="Finished">Finished</button>
}


@code {

    [Parameter]
    public string name { get; set; }

    private string FolderPath =  Directory.GetCurrentDirectory() + @"\AssignmentFolder\";
    private List<AssignmentQuestion> Questions;
    //private User user = new User();
    AssignmentQuestion question;
    private bool QuestionSec, TypeSec, OptionSec, AnswerSec, points, Distribution;
    private bool Review = false;

    private string inputAnswer;


    protected override async Task OnInitializedAsync()
    {
        Questions = AssignmentQuestion.loadQuestions(name);
    }

    public async void Submit()
    {
        string ans = "";
        foreach (AssignmentQuestion Q in Questions)
        {
            ans = await JS.InvokeAsync<string>("input", Q.type);
            Q.inputedAnswers = ans.Split(';');
            Q.correctInput();
        }

        Review = true;

        StateHasChanged();
    }

    public void Finished()
    {
        float totalPoints = 0;
        float totalUserPoints = 0;
        foreach (AssignmentQuestion Q in Questions)
        {
            if(Q.correct)
            {
                totalUserPoints += Q.points;
                foreach (string[] distribution in Q.skillValueDistribution)
                {
                    foreach (string[] skill in User.user.skillDistribution)
                    {
                        if(skill[0] == distribution[0])
                        {
                            skill[1] = Int32.Parse(skill[1]) + Int32.Parse(distribution[1]) + "";
                        }
                    }
                }
            }
            totalPoints += Q.points;
        }

        foreach (Assignment A in Assignment.AssignmentList)
        {
            if (A.assignmentName == name)
            {
                A.score = (totalUserPoints / totalPoints) * 100 + "";
                A.taken = true;
                string[] list = { A.assignmentName, A.score};
                User.user.takenAssignments.Add(list);
            }
        }

        UriHelper.NavigateTo($"assignments");
    }

}
